<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="main.css">
	<title>An App with a Map</title>

</head>
<body>
	<div id="appMap" >
	  	<div id="coordinates">
			<p>{{coordinates}}</p>
		</div>
<!-- control buttons -->	
		<div id="controlBtnGroup" class="btn-group" role="group" aria-label="Marker_Note_Control">
			<button type="button" 
			  class="btn btn-secondary clear" data-toggle="modal" 
			  data-target="#clearConfirmation">
				Clear All
			</button>
			  <button type="button" class="btn btn-secondary" v-on:click="toggleAllNotes()">Show/Hide Notes</button>
		</div>
<!-- CLEAR confirmation -->
			<div class="modal fade" id="clearConfirmation" tabindex="-1" role="dialog" aria-labelledby="clearModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="clearModalLabel">Clear ALL Markers?</h5>
			      </div>
			      <div class="modal-body">
			        Are you sure you want to CLEAR ALL the MARKERS on screen?
			      </div>
			      <div class="modal-footer">
			        <button 
				        type="button" 
				        class="clear-btn btn-secondary" 
				        data-dismiss="modal">
				    	Cancel
			    	</button>
			        <button 
				        type="button" 
				        class="clear-btn btn-primary"
				        data-dismiss="modal" 
				        v-on:click="clearAllMarkers()">
				    	Clear
					</button>
			      </div>
			    </div>
			  </div>
			</div>
<!-- Map -->
		<img 
		id="mapImage" 
		src="/images/cropped-topo-co.jpg" 
		v-on:click="placeMarker(); placeInput()"
		v-on:mousemove="showCoordinates()">
		<img 
			id="mainMarker"
			src="/images/red-hand-drawn-cross.png" 
			v-for="marker in markers" 
			v-for="input in inputs"
			v-bind:style="{top: marker.positionY, left: marker.positionX}" 
			v-on:click="remove(marker)"
			v-on:mousemove=""> 
<!-- popup input -->		
		<div 
			id="inputNote"
			v-for="input in inputs"
			v-bind:style="{top: input.positionY, left: input.positionX}"
			v-bind:class="{hidden: isHidden}">
			<textarea 
				id="inputText"	
				cols="40" 
				rows="3"
				placeholder="Info about location">
			</textarea>
			<br>
			<button 
				v-on:click="hideInput(input);">
				Done
			</button>
			<p id="locationMessage"> Location: <span>{{input.positionX}}</span> and <span>{{input.positionY}}</span></p>		
		</div>
	</div>	

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>	
<script src="main.js"></script>
</body>
</html>