<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="main.css">
	<title>An App with a Map</title>
</head>
<body>
	<div id="appMap" >
		<img id="mapImage" src="/images/cropped-topo-co.jpg" v-on:click="placeMarker(); placeNote()">
		<img 
			id="mainMarker"
			src="/images/red-hand-drawn-cross.png" 
			v-for="marker in markers" 
			v-for="note in notes"
			v-bind:style="{top: marker.positionY, left: marker.positionX}" 
			v-on:click="remove(marker)"
			v-on:mouseOver=""> 
		<div id="input"
			v-for="note in notes"
			v-bind:style="{top: note.positionY, left: note.positionX}">
			<textarea 
				id="inputText"	
				cols="40" 
				rows="3"
				placeholder="Note about location">
			</textarea>
			<br>
			<button v-on:click="">Save</button>
			<button v-on:click="cancelNote(note)">Cancel</button>
		</div>
	</div>	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>	
<script src="main.js"></script>
</body>
</html>