body {

	margin: 0;
	padding: 0;
	background-color: black;	
}

.btn-group {

	position: fixed;
	border: 1px solid black;
	border-radius: .5rem;
}

.btn {


	opacity: 0.9;
	cursor: pointer;
	font-variant: small-caps;
	font-weight: 600;
	border: 2px solid black;
	background-color: #624E3E;
}

.btn:hover {

	background-color: #C5A27F;
	color: black;
}

.btn.clear:hover {
	
	background-color: #A00B08;
	color: white;

}

.clear-btn {

	font-variant: small-caps;
	border-radius: .5rem;
}

.clear-btn.btn-primary {

	background-color: #A00B08;
}

#appMap {

	position: relative;
	width: 100%;
	height: 100%;
	
}

#mapImage {

	box-sizing: border-box;
	zoom: 100%;
	max-height: 100%;
	max-width: 100vw;
	border: .75rem solid #2B2B2B;
	border-radius: .25rem;

}

#mainMarker {

	position: absolute;
	width: 2rem;
	height: 2rem;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#inputNote {

	position: absolute;
	border: 2px solid black;
	padding: 1rem;
	background-image: radial-gradient(circle at center, #826852, #7B624E);
	background-color: #b8aa7f;
	box-shadow: 0px 0px 1px 1px;
	border-radius: .5rem;
	opacity: 0.9;
	padding-bottom: 0;
}

#inputText {

	border: 2px solid black;
	border-radius: .5rem;
	outline: none;
	background-color: #EBD0B5;
	color: #413B34;
}

#inputNote button {

	background-color: #D5BEA3;
	outline: none;
	font-variant: small-caps;
	font-weight: 500;
	border: 2px solid black;
	border-radius: .5rem;
	margin-right: 1rem;
	margin-top: .5rem;
}

#locationMessage {

	display: inline-block;
	font-variant: small-caps;
	color: black;
	font-size: 1.125rem;
	font-weight: 500;
}

#locationMessage span {

	color: white;
}

#note {

	position: absolute;
	border: 2px solid black;
	padding: 1rem;
	background-image: radial-gradient(circle at center, #826852, #7B624E);
	background-color: #b8aa7f;
	box-shadow: 0px 0px 1px 1px;
	border-radius: .5rem;
	opacity: 0.9;
	padding-bottom: 0;
}

#coordinates {

	position: fixed;
	right: 0;
	display: inline-block;
	box-sizing: border-box;
	width: 10rem;
	height: 40px;
	text-align: center;
	background-color: #C5A27F;
	border: 2px solid black;
	border-radius: .5rem;

}

.hidden {

	display: none;
}